.sampleWrap{
    position: relative;
    width: 1080px;
    height: 719px;
    margin: 0 auto;
    background: url(../images/whistler4.JPG) no-repeat;
  }

  .bkRGBA{
    /* 背景画像の透過用css */
    height: 100%;
    background: rgba(255,255,255,0.5);
  }
  .sample{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 50px;
    margin: auto;
    font-size: 50px;
  }
